<!DOCTYPE html>
<!--
@File   : signUp.html
@Author :  ({__email})
@Link   : 
@Date   : 12/9/2018, 10:18:08 AM
-->

<html>
<head>
    <meta charset="UTF-8">
    <title>IvanYang-signUP</title>
    <style></style>
</head>

<body>
    <!-- form表单 -->
    <form action="/login" method="post" > 
        {% csrf_token %} <!-- POST方式提交表单，必须加 {% csrf_token %} ，否则Django会报错：CSRF verification failed. -->
        <p>
            <label for="username">username:</label>
            <input id="username" name='user' type="text" /> <!-- name 用于标记表单上传的内容 -->
        </p>
        <p>
            <label for="password">password:</label>
            <input id="password" name='pwd' type="password" />
            <span style="color:red;" >{{ error_msg }}</span> <!-- 动态提示内容 -->
        </p>

        <input type="submit" value="sign Up" />
    </form>
</body>

</html>